.bg-img {
    background: linear-gradient(rgb(111, 112, 67, 0.2), rgb(111, 112, 67, 0.2)), url(../images/expressRestaurantPic.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: #1b1b1b;
}

.navbar a {
    color: rgb(187, 189, 129);
}

.primary-heading, 
.sub-heading {
    color: #ffffff;
}

.primary-heading {
    font-size: 6rem;
}

.sub-heading,
.page-heading  {
    font-size: 3.5rem;
}

.btn-alone {
    display: block;
    margin: 10px;
}

.btn-homepage {
    border: 3px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    width: 20rem;
}

.btn-homepage:hover {
    background-color: rgb(187, 189, 129);
    border: 3px solid rgb(187, 189, 129);
}

.submit,
.btn-filled {
    background-color: rgb(199, 202, 120);
    border: 3px solid rgb(199, 202, 120);
    color: #1b1b1b;
}

.submit,
.submit:hover {
    font-weight: 800;
}

.btn-filled,
.btn-filled:hover {
    width: 20rem;
}

.submit:hover,
.btn-filled:hover {
    color: #ffffff;
}

.card {
    margin-bottom: 4rem;
}