@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

html, body {
    font-family: 'Quicksand', 'Arial', sans-serif;
    font-weight: 400;
}

h1, h2, h3 {
    font-weight: 600;
}

.jumbotron hr {
    background-color: #ffffff80;
    width: 80%;
}

.btn {
    font-weight: 600;
}

.bg-img {
    /* background: linear-gradient(rgb(111, 112, 67, 0.2), rgb(111, 112, 67, 0.2)), url(../images/expressRestaurantPic.png) no-repeat center center fixed; */
    background: linear-gradient(#3a3a3a10, #3a3a3a10), url(../images/expressRestaurantPic.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: #1b1b1b;
    box-shadow: 0 4px 8px #00000020;
    padding: 0.5rem 2rem;
}

.navbar a {
    color: rgb(187, 189, 129);
}

.navbar-brand {
    font-weight: 600;
}

.primary-heading,
.sub-heading {
    color: #ffffff;
}

.primary-heading {
    font-size: 6rem;
}

.sub-heading,
.page-heading  {
    font-size: 3.5rem;
}

.page-heading {
    margin-bottom: 2rem;
}

.btn-alone {
    display: block;
    margin: 10px;
}

.btn-homepage {
    border: 3px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    width: 20rem;
}

.btn-homepage:hover {
    background-color: rgb(187, 189, 129);
    border: 3px solid rgb(187, 189, 129);
}

.submit,
.btn-filled {
    background-color: rgb(199, 202, 120);
    border: 3px solid rgb(199, 202, 120);
    color: #1b1b1b;
}

.submit,
.submit:hover {
    font-weight: 600;
}

.btn-filled,
.btn-filled:hover {
    width: 20rem;
}

.submit:hover,
.btn-filled:hover {
    color: #ffffff;
}

.card {
    border: none;
    margin-bottom: 4rem;
}

.card-header {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
}

ul {
    list-style: none;
}

ul h3 {
    color: rgb(199, 202, 120);
}

/*========================================
 MEDIA QUERIES
========================================*/
@media screen and (max-width: 600px) {
    .primary-heading {
        font-size: 4rem;
    }
    .sub-heading,
    .page-heading  {
        font-size: 2.5rem;
    }
    .btn {
        font-size: 1rem;
    }
}